{% extends "base.html" %}
{% block title %} Home - Create A List {% endblock %}
{% block content %}
<main class="container py-5 pt-5 mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                {% if to_do_list.is_empty() %}
                    <p class="lead text-muted text-center mb-0">
                        List is empty. Add Items!!
                    </p>
                {% else %}
                    {% for id_status, task in to_do_list.list.items() %}
                        {% with task_id = to_do_list.get_id_by_status_id(id_status) %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                        {% if to_do_list.get_status_by_task_id(task_id) %}
                                            <div class="d-flex align-items-center gap-2">
                                                <label class="m-0">
                                                    <span class="fs-5 text-secondary task-done">{{task}}</span>
                                                </label>
                                                <form action="{{ url_for('task_undone', task_id=task_id) }}" method="post">
                                                    <button type="submit" class="btn btn-outline-warning">↶</button>
                                                </form>
                                                <form action="{{ url_for('task_remove', task_id=task_id) }}" method="post">
                                                       <button type="submit" class="btn btn-danger">🗑️</button>
                                                </form>
                                            </div>
                                        {% else %}
                                            <div class="d-flex align-items-center gap-2">
                                                <label class="m-0">
                                                    <span class="fs-5 text-secondary">{{task}}</span>
                                                </label>
                                                 <form action="{{ url_for('task_done', task_id=task_id) }}" method="post">
                                                    <button type="submit" class="btn btn-success">✔</button>
                                                 </form>
                                                   <form action="{{ url_for('task_remove', task_id=task_id) }}" method="post">
                                                       <button type="submit" class="btn btn-danger">🗑️</button>
                                                    </form>
                                             </div>
                                        {% endif %}
                                    <br>
                                </li>
                            </ul>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
                <br>
                <br>
            </div>
        </div>
        <form action="/add" method="post" class="mt-4 d-flex gap-2">
            <label for="item" id="item">
                <input type="text" class="form-control border-primary shadow-sm" placeholder="Task" name="task">
            </label>
            <button type="submit" class="btn btn-outline-primary"> Add </button>
        </form>
        <br>
        <br>
    <form action="/save" method="post">
        <label for="title" id="title">
            <input type="text" name="title" class="border border-primary-subtle" placeholder="Title">
        </label>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Save</button>
    </form>
</main>
{% endblock %}