<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home- Todo List</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1> To Do List</h1>
<br>
<br>
{% if to_do_list.is_empty() %}
    <p>
        List is empty. Add Items!!
    </p>
{% else %}
    {% for key, value in to_do_list.list.items() %}
        <label for="item{{key}}" id="item{{key}}">
            <input type="checkbox">
            <span>{{value}}</span>
        </label>
    {% endfor %}
{% endif% }
<form action="/add" method="POST">
    <button type="submit" class="button"> Submit </button>
</form>
</body>
</html>