h1 {
text-align: center;
}

input[type="checkbox"]:checked + span {
text-decoration: line-through;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.offcanvas-header {
  position: relative;
}

.offcanvas-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.navlinks {
color: #b8daff;
text-decoration: none;
display: block;
margin-bottom: 10px;
}

.navlinks:hover {
color: 	#ffffff}